*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    min-height:100vh;
    
}
header{
    width:100%;
    height:80px;
    padding:0 40px;
    background:#365f88;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
main{
    width:90%;
    max-width:1500px;
    margin:80px auto;
}
.logo{
    width:40px;
}

.logo-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

nav{
    display:flex;
    align-items:center;
    gap:2rem;
}

nav a{
    text-decoration:none;
    color:white;
}

button{
    background:black;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:5px;
    cursor:pointer;
}


.section1{
    text-align:center;
    padding:50px 20px;
}


.section1 p{
    margin:20px 0;
}


.container{
    width:100%;
    max-width:1500px;
    margin:0 auto;     
}
.container h2{
    margin : 40px auto;
}


.hero img{
    width:100%;
    height:450px;
    object-fit:cover;
    border-radius:12px;
}


.gallery h2{
    margin:40px 0 25px;
    text-align:left;
    font-size:32px;
}

.cards{
    margin-top: 20;
    display:flex;
    justify-content:center; 
    gap:25px;
}

.card{
    
    background:white;
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    margin:15px;
}

.card p{
    margin:0 15px 20px;
    color:#666;
}

.why-us{

    margin:80px auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
}

.why-text{
    flex:1;
}

.why-text h2{
    font-size:40px;
    margin-bottom:30px;
}

.feature{
    margin-bottom:30px;
}

.feature h3{
    margin-bottom:10px;
    color:#365f88;
}

.feature p{
    color:#666;
    line-height:1.7;
}

.buttons{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.secondary{
    background:#ddd;
    color:#222;
}

.why-image{
    flex:1;
}

.why-image img{
    width:100%;
    height:500px;
    object-fit:cover;
    border-radius:12px;
}

.explore{
    margin:80px auto;
}

.explore h2{
    margin-bottom:30px;
}

.explore-container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.explore-card{
    flex:1;
    min-width:300px;
}

.explore-card img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:10px;
}

.explore-card h3{
    margin:15px 0 10px;
}

.explore-card p{
    color:#666;
    line-height:1.6;
}

.reviews{
    width:100%;
    max-width:1500px;
    margin:80px auto;
}

.reviews h2{
    margin: 40px 0px;
}
.review-container{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

.review-card{
    flex:1;
    min-width:260px;
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    padding:25px;
}

.quote{
    font-size:18px;
    margin-bottom:30px;
}

.user{
    display:flex;
    align-items:center;
    gap:15px;
}

.user img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}

.user h4{
    margin-bottom:5px;
}

.user span{
    color:#777;
    font-size:14px;
}

.section3{
    background-color: #929292;
    width: 100%;
}

.container3{
    width:100%;
    max-width:1500px;
    margin:auto;
    padding:50px ;
    justify-content:space-between;
    display: flex;
}
.section3 button{
    font-weight: bold;
    padding:10px 18px;
    
}
.secondaryButton{
    background:#ddd;
    color:#222;
}




.site-footer {
    background-color: #c7c7c7;
    padding: 80px 0 60px 0;
    width: 100%;
}

.footer-container {
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.social-icons {
    display: flex;
    gap: 22px;
}
.social-icons img{
    width:40px;
}

.footer-links {
    display: flex;
    gap: 100px; 
}

.footer-column h3 {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}

.footer-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

